body {
  height: 100%;
  margin: 0%;
  font-family: Verdana, sans-serif, arial, helvetica;
  font-size: 16px;
}
.box {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;

  border: solid;
  border-width: medium;
  border-color: black;

  background: rgba(192,192,192,0.8) /* Grå bakgrunn med 20% gjennomsiktighet  */
}

.box h2 {
  text-align: center;
}

.box p {
  text-align: left;
  margin-left: 2%;
}

